.container{
    width:100px;
    margin:40px auto; 
    background-color: black;
    object-fit: cover;
}
.img{
    width:400px;
    height:700px;

}
@media screen(max-width:576px) {
    .container{
        width:auto;
    }
    
}
